
@{
    ViewBag.Title = "FAASTer Home";
}

<h1>Welcome!</h1>

<h2>FAAST Device Management Homepage</h2>

<h3>Choose an option from the banner above @*or to the right*@ to continue.</h3>

<br/>

This is a Fork of FAAST.  develop is set to push to upstream vs origin

<br/>

